@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  top: 0px !important;
  position: static !important;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
}

.cl-internal-b3fm6y {
  display: none !important;
}

.cl-card {
  border-radius: 4px !important;
}

input {
  width: 100% !important;
}

.ant-form-item {
  margin-bottom: 5px !important;
}

.ant-steps-item-title {
  font-size: 14px !important;
}

.ant-btn {
  @apply rounded-2xl; /* Adds subtle curves to all Ant Design buttons */
}


table {
  border: 1px solid #b5b5b5 !important;
  margin-top: 10px !important;
}

/* property main image animation */

.property-main-image {
  transition: all 0.5s ease-in-out;
}


.property-main-image:hover {
  transform: scale(1.1);
}

/* Hide Google branding */
.translate-widget .skiptranslate,
.translate-widget iframe {
  display: none !important;
}

/* Floating Button */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #000000;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.floating-btn:hover {
  transform: scale(1.1);
}

/* Dropdown Menu */
.language-dropdown {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 150px;
  text-align: left;
}

.language-dropdown p {
  margin: 5px 0;
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 5px;
}

.language-dropdown p:hover {
  background: #000000;
  color: white;
}
body > .skiptranslate {
  display: none !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #000000;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  opacity: 0.8;
}

.scroll-to-top:hover {
  transform: scale(1.1);
  opacity: 1;
}

/* Hide Google Translate loading logo */
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
